bin/
obj/
obj/x64/Debug/ksp-advanced-flybywire.csproj.FileListAbsolute.txt
obj/x64/Debug/ksp-advanced-flybywire.csproj.FileListAbsolute.txt
*.suo
Assembly-CSharp.dll
Assembly-CSharp.xml
UnityEngine.dll
UnityEngine.xml
ksp/
ksp2/
.vs
*~
ksp-advanced-flybywire.sln
controller_test_tool/ControllerTestTool/Properties/Settings.Designer.cs
controller_test_tool/ControllerTestTool/Properties/Resources.Designer.cs
controller_test_tool/ControllerTestTool/ControllerTestTool.csproj
controller_test_tool/ControllerTestTool/App.config
AFBW/ksp-advanced-flybywire_win.csproj
AFBW/ksp-advanced-flybywire-osx.csproj
AFBW/ksp-advanced-flybywire-linux.csproj
AFBW/AssemblyVersion.cs
